:root {
    --dark: #181818;
    --darkblue: #17161d;
    --mid: #525252;
    --white: #FFFFFF;
    --pop: #FED43A;
    --mainfont: 'Trebuchet MS', 'Helvetica', 'Verdana', sans-serif;
    }

/*sets default styling values for font family, size, and color - applicable to all visible text*/
* {
    font-family: var(--mainfont); 
    font-size: 25px;
    color: var(--mid);
}


/* styling for all visible links on page, which are either in header or footer nav elements. No bullets, convert cursor to pointer to indicate to user an action can be performed*/
a {
    text-decoration: none;
    cursor: pointer;
    /* this font color is the same as the background-color in all <main> elements*/
    color: var(--dark);
}

/* Default Styling for elements in the Header*/
header {
    font-family: var(--mainfont);
    background-color: var(--white);
    width: 100%;
    padding: 20px;
    /* Flex styling (container) */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* sticky (instead of fixed) to stop body starting below header */
    position: sticky;
    align-self: flex-start;
}

header h1 {
    display:inline-block;
    color: var(--dark);
    font-size:48px;
    font-weight:bolder;
    letter-spacing: 1px;
}

/* Main navigation menu styling*/
#portfolio-menu {
    font-size: 20px;
    margin-right: 20px;
    float: right;
    /* Flex styling on nav (container) */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio-menu_item {
    padding: 20px;
    display: inline-block;
}

body {
    background-color: var(--darkblue);
    padding-top: ; ---------------
}

/* main body styling*/
main {
    color: var(--white);
    background-color: var(--darkblue);
    display:flex;
    flex-wrap: wrap;
}

section {
    width: 80%;
    padding: 20px 0 20px 0;
    /* Flex styling (container) related to #section_contents  */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

/* Header visual demarcation from corresponding section contents.*/
.section_header {
    color: var(--white);
    font-size: 40px;
    letter-spacing: 1px;
    margin-left: 0px;
    /* flex styling to share horizontal space with .section_content*/
    flex: 1 10%;
}

.section_content {
    border-left: var(--white) 10px groove;
    margin-left: 20px;
    padding-top: 2%;
    padding-right: 0;
    padding-left: 5%;
    padding-bottom: 2%;
    /* Text too hard to read without additional spacing*/
    line-height: 125%;
    /* flex styling to share horizontal space with .section_header*/
    flex: 1 90%;
}

#about img {
    border-radius: 50%;
    width: 40%;
    /*margin: 25px;*/
    display: block;
    padding-bottom: 25px;
    margin: 0 auto 0 auto;
}

/* Work section styling and grid definition */
#work {
    /* Flex styling (container) */
    display:flex
    flex-direction:row;
}

article {
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
}

/*Styling overlay the heading of each project onto the corresponding image*/
/*.projects_header {
    background:  var(--mid);
    color: limegreen;
    opacity: 100; /* change to 0 one you fix orientation on top of image*/
    /*height: 100%;
    width: 100%;
}

/* Project image styling, custom to each project's dominant image color */
#projects_portfolio {
    max-width: 500px;
    border-left: 2px solid var(--white);
    box-shadow: 20px 20px var(--pop);
}

#projects_horiseon {
    max-width: 500px;
    border-left: 2px solid #2a607c;
    box-shadow: 20px 20px var(--pop);
}

#projects_placeholders{
    max-width: 500px;
    border-left: 2px solid #F6F6F6;
    box-shadow: 20px 20px var(--pop);
}

/* manual force of the 1st project image size to be larger than all following project images*/
#projects_lead img {
    max-width: 600px;
}

/*Footer styling*/
footer {
    font-family: var(--mainfont);
    background-color: var(--white);
    width: 100%;
    /* There is padding for the footer, but each 2 elements within also has smaller padding to make it readable but appear thematicall grouped to the user */
    padding: 2% 0 0 2%;
    /* Flex styling (container) mirrored from Header styling */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

footer h3 {
    color: var(--dark);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 1% 0 0 1%;
}

/* Contact links (images) in footer */
#contact-menu {
    float:center;
    padding: 1% 0 0 1%;
    /* Flex styling on nav */
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-menu_item {
    display: inline-block;
}

.contact-menu_item img {
    height: 60px;
}

/* Media queries */
/* Mobile devices */
@media screen and (max-width: 480px) {
    make the two columns stack on top of each other instead of next to each other
    header {
        flex-direction: row;
    }
    #contact-menu {
        flex-direction: column;
    }
}

/* iPads, Tablets */
@media screen and (max-width: 768px) {
    header {
        flex-direction: row;
    }
    #contact-menu {
        flex-direction: column;
    }
}

/* Standard screens, laptops */
@media screen and (max-width: 1024px) {

}